* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(303deg,#6e086e,#020002); 
  height: 100vh;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .75em;
  height: 100%;
  font-family: 'Roboto', sans-serif, bold;
  color: #fff;

  &__instruction {
    margin: 1.2em 0;
    font-size: 1.2em;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.75em .875em;
    margin: 0 auto;
    width: 100%;
    max-width: 26.375em;
    box-sizing: border-box;
    border: .188em solid rgba(255, 255, 255, .6);
    border-radius: .75em;
  }

  &__puzzle {
    font-size: 1.375em;
    margin-top: .5em;
    min-height: 1.375em;
  }

  &__puzzle,
  &__guesses,
  &__reset {
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
  }

  &__guesses {
    width: 100%;
    min-height: 3.875em;
    max-width: 25em;
    line-height: 1.6; 
  }

  &__reset {
    padding: .75em .875em;
    background: none;
    cursor: pointer;
    outline: none;
    border: .125em solid white;
    border-radius: .5em;
    color: #fff;
    &:active,
    &:hover {
      opacity: .7;
    }
  }

}